.chat-main
  .chat-main__top
    .chat-main__top-left
      .chat-main__top-left--group-name グループ名
      .chat-main__top-left--member-list Member: 誰か
    .chat-main__top-left--edit-button Edit
  .chat-main__message
  .chat-main__form