.chat-main
  .chat-main__top
    .chat-main__top-left
      .chat-main__top-left--group-name グループ名
      .chat-main__top-left--member-list Member: 誰か
    .chat-main__top-left--edit-button Edit
  .chat-main__messages
    .chat-main__messages--info
      .chat-main__messages--info-group-name
        groupname
      .chat-main__messages--info-date
        2019/00/00(sun) 00:00:00
    .chat-main__messages--date-message
      あああああ
    .chat-main__messages--info
      .chat-main__messages--info-group-name
        groupname
      .chat-main__messages--info-date
        2019/00/00(sun) 00:00:00
    .chat-main__messages--date-message
      いいいいい
  .chat-main__form