.side-bar
  .side-bar__top
    .side-bar__top-box
      .side-bar__top-box--name aaa
      .side-bar__top-box--icon
        %a
        = link_to do
          = icon('fas', 'edit')
        %a
        = link_to do
          = icon('fas', 'cog')