.side-bar
  .side-bar__top
    .side-bar__top-box
      .side-bar__top-box--name aaa
      .side-bar__top-box--icon
        %a
        = link_to do
          = icon('fas', 'edit')
        %a
        = link_to do
          = icon('fas', 'cog')
  .side-bar__groups
    .side-bar__groups--group
      .side-bar__groups--group-name グループ名
      .side-bar__groups--group-message 2作ってますっていうメッセージ
    .side-bar__groups--group
      .side-bar__groups--group-name グループ名2
      .side-bar__groups--group-message 2作ってますっていうメッセージ2